# Data Preprocessing
## 2. Deleting Unwanted Columns
improting library

In [2]:
import pandas as pd 
import numpy as np

### 2.1 import 2020 file

In [9]:
#import 2020 csv file in jupyter through pandas

f1 = pd.read_csv('G:\\DBDA\\DBDA project\\Project data\\Project data\\Complete record of employee mental health from 2014-2022\\OSMI Mental Health in Tech Survey 2020.csv')
f1.head()

,NO,Self_Employed,No_of_Employees,Tech_Company,B,C,D,formally_discusse_employer,seeking help,anonymity,...,BZ,talk about experience,Age,Gender,Country,State,race,CA,work in country,work in state
0,zwrffw6ykfo82ft1twvzwrffw6c6wsfv,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0,45,Male,United States of America,Connecticut,White,NaN,United States of America,Connecticut
1,zhdmhaa8r0125c4zmoi7qzhdmtjrakhm,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,24,female,Russia,NaN,NaN,NaN,Russia,NaN
2,x4itwa9hnlw7qke4y5xibx4itwa9yzl5,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,mental health should be a law by government.,1,46,Male,India,NaN,NaN,NaN,India,NaN
3,x3v3oimu5pn0043n8x3v3oizaybhwwto,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,25,Female,Canada,NaN,NaN,NaN,Canada,NaN
4,uyp6re7bhnyx6gez09uyp6re72z0e4e4,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,no,1,25,F,Canada,NaN,NaN,NaN,Canada,NaN

show the columns Name

In [16]:
list(f1.columns)

['NO',
 'Self_Employed',
 'No_of_Employees',
 'Tech_Company',
 'B',
 'C',
 'D',
 'formally_discusse_employer',
 'seeking help',
 'anonymity',
 'Medical_Leave',
 'talking_to_coworker',
 'supervisor',
 'discussed_with_employer',
 'E',
 'issue_discussing',
 'discusssed_coworkers',
 'F',
 'G',
 'I',
 'physical_health_importance',
 'Mental_health_importance',
 'Medical_Insurence',
 'J',
 'K',
 'L',
 'M',
 'N',
 'impact_on_Productivity',
 'O',
 'P',
 'tech_company',
 'Q',
 'Mental_health_Aware',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z',
 'AA',
 'AB',
 'AC',
 'AD',
 'AE',
 'have_a_mental_Health',
 'treated_Mental_Health(Diagnosed)',
 'AF',
 'AG',
 'AH',
 'AI',
 'AJ',
 'AK',
 'AL',
 'AM',
 'AN',
 'AO',
 'AP',
 'AQ',
 'AR',
 'AS',
 'AT',
 'AU',
 'AV',
 'AW',
 'AX',
 'AY',
 'AZ',
 'BA',
 'BB',
 'BC',
 'BD',
 'BE',
 'BF',
 'BG',
 'BH',
 'BI',
 'BJ',
 'BK',
 'BL',
 'BM',
 'BN',
 'BO',
 'BP',
 'BQ',
 'BR',
 'Past_mental_Health',
 'Treatment',
 'family history',
 'before_Interfere_in_work',
 'after_Interfere_in_work',
 'Stress_Syndromes',
 'share with friends and family',
 'a physical potential',
 'BS',
 'a mental potential',
 'BT',
 'openly_identify',
 'BU',
 'BV',
 'co-workers reaction',
 'unsupportive workplace',
 'BW',
 'supportive workplace',
 'BX',
 'tech industry support',
 'BY',
 'BZ',
 'talk about experience',
 'Age',
 'Gender',
 'Country',
 'State',
 'race',
 'CA',
 'work in country',
 'work in state']

Show the Number of rows and columns in File

In [46]:
f1.shape

(180, 120)

Creating Data Frame

In [23]:
df_f2 = pd.DataFrame(f1)

DROP the Unwanted Columns

In [ ]:
df_f2.drop(['NO','E','Q','BU','BV', 'BS','BT','BW','BY','BZ', 'BX','CA'
  ],inplace=True,axis=1)

In [42]:
#show the columns name after deleting 
list(df_f2.columns)

['Self_Employed',
 'No_of_Employees',
 'Tech_Company',
 'formally_discusse_employer',
 'seeking help',
 'anonymity',
 'Medical_Leave',
 'talking_to_coworker',
 'supervisor',
 'discussed_with_employer',
 'issue_discussing',
 'discusssed_coworkers',
 'physical_health_importance',
 'Mental_health_importance',
 'Medical_Insurence',
 'impact_on_Productivity',
 'tech_company',
 'Mental_health_Aware',
 'have_a_mental_Health',
 'treated_Mental_Health(Diagnosed)',
 'Past_mental_Health',
 'Treatment',
 'family history',
 'before_Interfere_in_work',
 'after_Interfere_in_work',
 'Stress_Syndromes',
 'share with friends and family',
 'a physical potential',
 'a mental potential',
 'openly_identify',
 'co-workers reaction',
 'unsupportive workplace',
 'supportive workplace',
 'tech industry support',
 'talk about experience',
 'Age',
 'Gender',
 'Country',
 'State',
 'race',
 'work in country',
 'work in state']

Show the Number of rows and columns after deleting unwanted

In [44]:
df_f2.shape

(180, 42)

In [54]:
#show first 5 rows of the data
df_f2.head()

,Self_Employed,No_of_Employees,Tech_Company,formally_discusse_employer,seeking help,anonymity,Medical_Leave,talking_to_coworker,supervisor,discussed_with_employer,...,supportive workplace,tech industry support,talk about experience,Age,Gender,Country,State,race,work in country,work in state
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Yes, I experienced",2,0,45,Male,United States of America,Connecticut,White,United States of America,Connecticut
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Yes, I observed",5,1,24,female,Russia,NaN,NaN,Russia,NaN
2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Yes, I experienced",1,1,46,Male,India,NaN,NaN,India,NaN
3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Maybe/Not sure,1,1,25,Female,Canada,NaN,NaN,Canada,NaN
4,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Maybe/Not sure,3,1,25,F,Canada,NaN,NaN,Canada,NaN

To check Null value in the data

In [58]:

df_f2.notnull()

,Self_Employed,No_of_Employees,Tech_Company,formally_discusse_employer,seeking help,anonymity,Medical_Leave,talking_to_coworker,supervisor,discussed_with_employer,...,supportive workplace,tech industry support,talk about experience,Age,Gender,Country,State,race,work in country,work in state
0,True,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
1,True,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,False,False,True,False
2,True,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,False,False,True,False
3,True,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,False,False,True,False
4,True,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
176,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,True,False
177,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
178,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,True,False
179,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,True,False

Fill the NaN value as "Null"

In [61]:
df_f2.fillna("Null",inplace=True)

Show data after Null handeling

In [62]:
df_f2.head()

,Self_Employed,No_of_Employees,Tech_Company,formally_discusse_employer,seeking help,anonymity,Medical_Leave,talking_to_coworker,supervisor,discussed_with_employer,...,supportive workplace,tech industry support,talk about experience,Age,Gender,Country,State,race,work in country,work in state
0,1,Null,Null,Null,Null,Null,Null,Null,Null,Null,...,"Yes, I experienced",2,0,45,Male,United States of America,Connecticut,White,United States of America,Connecticut
1,1,Null,Null,Null,Null,Null,Null,Null,Null,Null,...,"Yes, I observed",5,1,24,female,Russia,Null,Null,Russia,Null
2,1,Null,Null,Null,Null,Null,Null,Null,Null,Null,...,"Yes, I experienced",1,1,46,Male,India,Null,Null,India,Null
3,1,Null,Null,Null,Null,Null,Null,Null,Null,Null,...,Maybe/Not sure,1,1,25,Female,Canada,Null,Null,Canada,Null
4,1,Null,Null,Null,Null,Null,Null,Null,Null,Null,...,Maybe/Not sure,3,1,25,F,Canada,Null,Null,Canada,Null

In [63]:
df_f2.tail()

,Self_Employed,No_of_Employees,Tech_Company,formally_discusse_employer,seeking help,anonymity,Medical_Leave,talking_to_coworker,supervisor,discussed_with_employer,...,supportive workplace,tech industry support,talk about experience,Age,Gender,Country,State,race,work in country,work in state
175,0,More than 1000,0.0,No,No,No,Somewhat difficult,Physical health,No,0.0,...,No,2,1,53,Male,United States of America,New York,Asian,United States of America,New York
176,0,26-100,1.0,Yes,Yes,I don't know,Very easy,Physical health,Maybe,0.0,...,No,3,0,23,F,Philippines,Null,Null,Philippines,Null
177,0,100-500,1.0,No,I don't know,I don't know,Somewhat easy,Physical health,Maybe,0.0,...,No,3,0,34,Male,United States of America,Tennessee,White,United States of America,Tennessee
178,0,500-1000,0.0,Yes,Yes,Yes,Difficult,Physical health,No,0.0,...,No,3,0,43,Male,Canada,Null,Null,Canada,Null
179,0,500-1000,1.0,Yes,No,I don't know,Very easy,Same level of comfort for each,Yes,1.0,...,No,4,0,37,male,Netherlands,Null,Null,Netherlands,Null

Checking Null value after Null handeling

In [64]:
df_f2.notnull()

,Self_Employed,No_of_Employees,Tech_Company,formally_discusse_employer,seeking help,anonymity,Medical_Leave,talking_to_coworker,supervisor,discussed_with_employer,...,supportive workplace,tech industry support,talk about experience,Age,Gender,Country,State,race,work in country,work in state
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
176,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
177,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
178,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
179,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

**Save data in the Local file (2020 file)**

In [65]:
#Export the DataFrame file in CSV file 2020

df_f2.to_csv('G:\\DBDA\\DBDA project\\Project data\\Project data\\Complete record of employee mental health from 2014-2022\\OSMI Mental Health in Tech Survey 2020.csv',index=False)

-------------------------------------------------------------------------------------------------------------------------------
### 2.2 Import 2021 file

In [10]:
#import 2021 csv file in jupyter through pandas

f2 = pd.read_csv('G:\\DBDA\\DBDA project\\Project data\\Project data\\Complete record of employee mental health from 2014-2022\\OSMI Mental Health in Tech Survey 2021.csv')
f2.head()

,NO,Self_Employed,No_of_Employees,Tech_Company,B,C,D,formally_discusse_employer,seeking help,anonymity,...,Country,State,race,CA,work in country,work in state,CB,CC,CD,CE
0,eu6sxt9r6pyxxykpxcqs6r2qeu6sxt9r,0,26-100,1.0,1.0,I don't know,No,No,I don't know,I don't know,...,United States of America,Alaska,White,NaN,United States of America,Alaska,NaN,16-12-2021 20:28,16-12-2021 20:36,f3adc1b78a
1,mqgsjpmc31k0fuymqgv96vapalozx3q0,0,500-1000,1.0,1.0,Yes,No,Yes,Yes,Yes,...,Brazil,NaN,NaN,NaN,Brazil,NaN,NaN,16-12-2021 13:42,16-12-2021 18:44,49a51b7ac1
2,fkuijv5hpifz4fusbn1fkuib4ipqt19s,0,100-500,1.0,1.0,Yes,Yes,No,I don't know,I don't know,...,Brazil,NaN,NaN,NaN,Brazil,NaN,NaN,16-12-2021 13:01,16-12-2021 13:14,f9e26fd31a
3,eb7i5ye61yizgs5veb7i5yyttqp5zwp2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Italy,NaN,NaN,NaN,Italy,NaN,NaN,16-12-2021 08:57,16-12-2021 08:59,73a0e1b4c5
4,0qoaw3bb3kzbb2oet0qoa3xc3yzdrvva,0,More than 1000,0.0,1.0,Yes,No,Yes,Yes,I don't know,...,Canada,NaN,NaN,NaN,Canada,NaN,NaN,08-12-2021 14:35,08-12-2021 14:44,bade27e84d

Show the Number of rows and columns in File

In [48]:
f2.shape

(131, 124)

show the columns name

In [50]:
list(f2.columns)

['NO',
 'Self_Employed',
 'No_of_Employees',
 'Tech_Company',
 'B',
 'C',
 'D',
 'formally_discusse_employer',
 'seeking help',
 'anonymity',
 'Medical_Leave',
 'talking_to_coworker',
 'supervisor',
 'discussed_with_employer',
 'E',
 'issue_discussing',
 'discusssed_coworkers',
 'F',
 'G',
 'I',
 'physical_health_importance',
 'Mental_health_importance',
 'Medical_Insurence',
 'J',
 'K',
 'L',
 'M',
 'N',
 'impact_on_Productivity',
 'O',
 'P',
 'tech_company',
 'Q',
 'Mental_health_Aware',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z',
 'AA',
 'AB',
 'AC',
 'AD',
 'AE',
 'have_a_mental_Health',
 'treated_Mental_Health(Diagnosed)',
 'AF',
 'AG',
 'AH',
 'AI',
 'AJ',
 'AK',
 'AL',
 'AM',
 'AN',
 'AO',
 'AP',
 'AQ',
 'AR',
 'AS',
 'AT',
 'AU',
 'AV',
 'AW',
 'AX',
 'AY',
 'AZ',
 'BA',
 'BB',
 'BC',
 'BD',
 'BE',
 'BF',
 'BG',
 'BH',
 'BI',
 'BJ',
 'BK',
 'BL',
 'BM',
 'BN',
 'BO',
 'BP',
 'BQ',
 'BR',
 'Past_mental_Health',
 'Treatment',
 'family history',
 'before_Interfere_in_work',
 'after_Interfere_in_work',
 'Stress_Syndromes',
 'share with friends and family',
 'a physical potential',
 'BS',
 'a mental potential',
 'BT',
 'openly_identify',
 'BU',
 'BV',
 'co-workers reaction',
 'unsupportive workplace',
 'BW',
 'supportive workplace',
 'BX',
 'tech industry support',
 'BY',
 'BZ',
 'talk about experience',
 'Age',
 'Gender',
 'Country',
 'State',
 'race',
 'CA',
 'work in country',
 'work in state',
 'CB',
 'CC',
 'CD',
 'CE']

Creating Data Frame and DROP the unwanted Columns

In [51]:
df_f3 = pd.DataFrame(f2)


df_f3.drop(['NO','B','C','D','E', 'F','G','I','J','K','L','M','N', 'O',
'P','Q', 'R','S','T','U','V', 'W', 'X','Y', 'Z', 'AA',
 'AB', 'AC', 'AD','AE','AF','AG', 'AH','AI','AJ','AK','AL', 'AM',
 'AN', 'AO', 'AP','AQ','AR','AS','AT','AU','AV','AW','AX',
 'AY', 'AZ', 'BA', 'BB', 'BC', 'BD','BE', 'BF', 'BG', 'BH', 'BI','BJ', 'BK',
 'BL', 'BM',1 'BN', 'BO', 'BP', 'BQ','BR','BS', 'BT', 'BU','BV','BW','BX', 'BY', 'BZ', 'CA',
            'CB', 'CC', 'CD', 'CE'],inplace=True,axis=1)

show name of the columns after deleting

In [52]:
list(df_f3.columns)

['Self_Employed',
 'No_of_Employees',
 'Tech_Company',
 'formally_discusse_employer',
 'seeking help',
 'anonymity',
 'Medical_Leave',
 'talking_to_coworker',
 'supervisor',
 'discussed_with_employer',
 'issue_discussing',
 'discusssed_coworkers',
 'physical_health_importance',
 'Mental_health_importance',
 'Medical_Insurence',
 'impact_on_Productivity',
 'tech_company',
 'Mental_health_Aware',
 'have_a_mental_Health',
 'treated_Mental_Health(Diagnosed)',
 'Past_mental_Health',
 'Treatment',
 'family history',
 'before_Interfere_in_work',
 'after_Interfere_in_work',
 'Stress_Syndromes',
 'share with friends and family',
 'a physical potential',
 'a mental potential',
 'openly_identify',
 'co-workers reaction',
 'unsupportive workplace',
 'supportive workplace',
 'tech industry support',
 'talk about experience',
 'Age',
 'Gender',
 'Country',
 'State',
 'race',
 'work in country',
 'work in state']

Show the Number of rows and columns after deleting unwanted

In [66]:
df_f3.shape

(131, 42)

In [67]:
#Show the first 5 rows 
df_f3.head()

,Self_Employed,No_of_Employees,Tech_Company,formally_discusse_employer,seeking help,anonymity,Medical_Leave,talking_to_coworker,supervisor,discussed_with_employer,...,supportive workplace,tech industry support,talk about experience,Age,Gender,Country,State,race,work in country,work in state
0,0,26-100,1.0,No,I don't know,I don't know,Very easy,Physical health,Maybe,0.0,...,No,2,1,28,Female,United States of America,Alaska,White,United States of America,Alaska
1,0,500-1000,1.0,Yes,Yes,Yes,I don't know,Physical health,No,0.0,...,"Yes, I observed",3,1,41,male,Brazil,NaN,NaN,Brazil,NaN
2,0,100-500,1.0,No,I don't know,I don't know,Somewhat easy,Same level of comfort for each,Maybe,0.0,...,Maybe/Not sure,3,0,35,Male,Brazil,NaN,NaN,Brazil,NaN
3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Yes, I observed",2,0,20,male,Italy,NaN,NaN,Italy,NaN
4,0,More than 1000,0.0,Yes,Yes,I don't know,Difficult,Physical health,No,0.0,...,Maybe/Not sure,3,1,35,female,Canada,NaN,NaN,Canada,NaN

In [68]:
df_f3.notnull()

,Self_Employed,No_of_Employees,Tech_Company,formally_discusse_employer,seeking help,anonymity,Medical_Leave,talking_to_coworker,supervisor,discussed_with_employer,...,supportive workplace,tech industry support,talk about experience,Age,Gender,Country,State,race,work in country,work in state
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,True,False
2,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,True,False
3,True,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,False,False,True,False
4,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,True,False
127,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,True,False
128,True,False,False,False,False,False,False,False,False,False,...,True,True,True,True,False,True,False,False,True,False
129,True,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,False,False,True,False
130,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,True,False

In [69]:
#Fill null value
df_f3.fillna("Null",inplace=True)

In [70]:
df_f3.head()

,Self_Employed,No_of_Employees,Tech_Company,formally_discusse_employer,seeking help,anonymity,Medical_Leave,talking_to_coworker,supervisor,discussed_with_employer,...,supportive workplace,tech industry support,talk about experience,Age,Gender,Country,State,race,work in country,work in state
0,0,26-100,1.0,No,I don't know,I don't know,Very easy,Physical health,Maybe,0.0,...,No,2,1,28,Female,United States of America,Alaska,White,United States of America,Alaska
1,0,500-1000,1.0,Yes,Yes,Yes,I don't know,Physical health,No,0.0,...,"Yes, I observed",3,1,41,male,Brazil,Null,Null,Brazil,Null
2,0,100-500,1.0,No,I don't know,I don't know,Somewhat easy,Same level of comfort for each,Maybe,0.0,...,Maybe/Not sure,3,0,35,Male,Brazil,Null,Null,Brazil,Null
3,1,Null,Null,Null,Null,Null,Null,Null,Null,Null,...,"Yes, I observed",2,0,20,male,Italy,Null,Null,Italy,Null
4,0,More than 1000,0.0,Yes,Yes,I don't know,Difficult,Physical health,No,0.0,...,Maybe/Not sure,3,1,35,female,Canada,Null,Null,Canada,Null

In [71]:
#Check null value after filling
df_f3.notnull()

,Self_Employed,No_of_Employees,Tech_Company,formally_discusse_employer,seeking help,anonymity,Medical_Leave,talking_to_coworker,supervisor,discussed_with_employer,...,supportive workplace,tech industry support,talk about experience,Age,Gender,Country,State,race,work in country,work in state
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
127,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
128,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
129,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
130,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

**Save data in the Local file (2021 file)**

In [72]:
#Export the DataFrame file in CSV file 2021

df_f3.to_csv('G:\\DBDA\\DBDA project\\Project data\\Project data\\Complete record of employee mental health from 2014-2022\\OSMI Mental Health in Tech Survey 2021.csv',index=False)

-------------------------------------------------------------------------------------------------------------------------------
### 2.3 import 2018 file

In [12]:
#import 2018 csv file in jupyter through pandas

f3 = pd.read_csv('G:\\DBDA\\DBDA project\\Project data\\Project data\\Complete record of employee mental health from 2014-2022\\OSMI Mental Health in Tech Survey 2018.csv')
f3.head()

,NO,Self_Employed,No_of_Employees,Tech_Company,B,C,D,formally_discusse_employer,seeking help,anonymity,...,Gender,Country,State,race,CA,work in country,work in state,CC,CD,CE
0,e44a0a34f2465940beda2a1537e9b99e,0,More than 1000,1.0,0.0,Yes,Yes,Yes,Yes,Yes,...,Female,Canada,NaN,NaN,NaN,Canada,NaN,2018-12-29 23:46:38,2018-12-30 00:00:03,4bbb884ccc
1,0d698e3beca20fb75f19b9d528e36d73,0,More than 1000,1.0,1.0,Yes,Yes,No,I don't know,I don't know,...,male,United States of America,Massachusetts,White,NaN,United States of America,Massachusetts,2018-12-27 21:40:40,2018-12-27 21:45:45,275e7543bd
2,61a40c9071eb36fa9caa254d31500c41,0,6-25,0.0,1.0,Yes,Yes,No,No,I don't know,...,Male,United States of America,Florida,White,NaN,United States of America,Florida,2018-12-21 17:37:43,2018-12-21 18:08:01,43994c3dba
3,f8624340bead7deb08abb766704ddf6b,0,6-25,1.0,1.0,No,No,No,No,I don't know,...,male,Norway,NaN,NaN,NaN,Norway,NaN,2018-12-21 16:37:56,2018-12-21 16:44:44,907b3a3faa
4,31d3ae93b68d79e504a0a643601b6b1e,0,26-100,1.0,1.0,Yes,Yes,Yes,Yes,Yes,...,Ostensibly Male,United States of America,Tennessee,White,NaN,United States of America,Tennessee,2018-12-20 19:39:02,2018-12-20 20:58:34,26df20fea3

show the Number of Rows and Columns

In [73]:
f3.shape

(417, 123)

show the Columns name in the file

In [74]:
list(f3.columns)

['NO',
 'Self_Employed',
 'No_of_Employees',
 'Tech_Company',
 'B',
 'C',
 'D',
 'formally_discusse_employer',
 'seeking help',
 'anonymity',
 'Medical_Leave',
 'talking_to_coworker',
 'supervisor',
 'discussed_with_employer',
 'E',
 'issue_discussing',
 'discusssed_coworkers',
 'F',
 'G',
 'I',
 'physical_health_importance',
 'Mental_health_importance',
 'Medical_Insurence',
 'J',
 'K',
 'L',
 'M',
 'N',
 'impact_on_Productivity',
 'O',
 'P',
 'tech_company',
 'Q',
 'Mental_health_Aware',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z',
 'AA',
 'AB',
 'AC',
 'AD',
 'AE',
 'have_a_mental_Health',
 'treated_Mental_Health(Diagnosed)',
 'AF',
 'AG',
 'AH',
 'AI',
 'AJ',
 'AK',
 'AL',
 'AM',
 'AN',
 'AO',
 'AP',
 'AQ',
 'AR',
 'AS',
 'AT',
 'AU',
 'AV',
 'AW',
 'AX',
 'AY',
 'AZ',
 'BA',
 'BB',
 'BC',
 'BD',
 'BE',
 'BF',
 'BG',
 'BH',
 'BI',
 'BJ',
 'BK',
 'BL',
 'BM',
 'BN',
 'BO',
 'BP',
 'BQ',
 'BR',
 'Past_mental_Health',
 'Treatment',
 'family history',
 'before_Interfere_in_work',
 'after_Interfere_in_work',
 'Stress_Syndromes',
 'share with friends and family',
 'a physical potential',
 'BS',
 'a mental potential',
 'BT',
 'openly_identify',
 'BU',
 'BV',
 'co-workers reaction',
 'unsupportive workplace',
 'BW',
 'supportive workplace',
 'BX',
 'tech industry support',
 'BY',
 'BZ',
 'talk about experience',
 'Age',
 'Gender',
 'Country',
 'State',
 'race',
 'CA',
 'work in country',
 'work in state',
 'CC',
 'CD',
 'CE']

Create Data Frame and DROP the unwanted columns

In [75]:
df_f4 = pd.DataFrame(f3)


df_f4.drop(['NO','B','C','D','E', 'F','G','I','J','K','L','M','N', 'O',
'P','Q', 'R','S','T','U','V', 'W', 'X','Y', 'Z', 'AA',
 'AB', 'AC', 'AD','AE','AF','AG', 'AH','AI','AJ','AK','AL', 'AM',
 'AN', 'AO', 'AP','AQ','AR','AS','AT','AU','AV','AW','AX',
 'AY', 'AZ', 'BA', 'BB', 'BC', 'BD','BE', 'BF', 'BG', 'BH', 'BI','BJ', 'BK',
 'BL', 'BM', 'BN', 'BO', 'BP', 'BQ','BR','BS', 'BT', 'BU','BV','BW','BX', 'BY', 'BZ', 'CA', 'CC', 'CD', 'CE'],inplace=True,axis=1)

In [76]:
#show Name of columns after Droping 
list(df_f4.columns)

['Self_Employed',
 'No_of_Employees',
 'Tech_Company',
 'formally_discusse_employer',
 'seeking help',
 'anonymity',
 'Medical_Leave',
 'talking_to_coworker',
 'supervisor',
 'discussed_with_employer',
 'issue_discussing',
 'discusssed_coworkers',
 'physical_health_importance',
 'Mental_health_importance',
 'Medical_Insurence',
 'impact_on_Productivity',
 'tech_company',
 'Mental_health_Aware',
 'have_a_mental_Health',
 'treated_Mental_Health(Diagnosed)',
 'Past_mental_Health',
 'Treatment',
 'family history',
 'before_Interfere_in_work',
 'after_Interfere_in_work',
 'Stress_Syndromes',
 'share with friends and family',
 'a physical potential',
 'a mental potential',
 'openly_identify',
 'co-workers reaction',
 'unsupportive workplace',
 'supportive workplace',
 'tech industry support',
 'talk about experience',
 'Age',
 'Gender',
 'Country',
 'State',
 'race',
 'work in country',
 'work in state']

In [77]:
#Show Number of rows and columns after Deleting
df_f4.shape

(417, 42)

In [78]:
df_f4.head()

,Self_Employed,No_of_Employees,Tech_Company,formally_discusse_employer,seeking help,anonymity,Medical_Leave,talking_to_coworker,supervisor,discussed_with_employer,...,supportive workplace,tech industry support,talk about experience,Age,Gender,Country,State,race,work in country,work in state
0,0,More than 1000,1.0,Yes,Yes,Yes,Somewhat difficult,Physical health,No,1.0,...,"Yes, I observed",2,1,57,Female,Canada,NaN,NaN,Canada,NaN
1,0,More than 1000,1.0,No,I don't know,I don't know,Somewhat difficult,Physical health,No,0.0,...,No,3,1,29,male,United States of America,Massachusetts,White,United States of America,Massachusetts
2,0,6-25,0.0,No,No,I don't know,Somewhat easy,Physical health,No,0.0,...,Maybe/Not sure,3,0,46,Male,United States of America,Florida,White,United States of America,Florida
3,0,6-25,1.0,No,No,I don't know,Neither easy nor difficult,Physical health,No,0.0,...,Maybe/Not sure,1,0,34,male,Norway,NaN,NaN,Norway,NaN
4,0,26-100,1.0,Yes,Yes,Yes,Somewhat easy,Same level of comfort for each,Yes,1.0,...,"Yes, I observed",4,1,29,Ostensibly Male,United States of America,Tennessee,White,United States of America,Tennessee

Check the Null values in the data

In [79]:
df_f4.notnull()

,Self_Employed,No_of_Employees,Tech_Company,formally_discusse_employer,seeking help,anonymity,Medical_Leave,talking_to_coworker,supervisor,discussed_with_employer,...,supportive workplace,tech industry support,talk about experience,Age,Gender,Country,State,race,work in country,work in state
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,True,False
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,True,False
4,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
412,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
413,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,True,False
414,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,False,True,True
415,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
416,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

Fill the Null value

In [80]:
df_f4.fillna("Null",inplace=True)

In [81]:
df_f4.head()

,Self_Employed,No_of_Employees,Tech_Company,formally_discusse_employer,seeking help,anonymity,Medical_Leave,talking_to_coworker,supervisor,discussed_with_employer,...,supportive workplace,tech industry support,talk about experience,Age,Gender,Country,State,race,work in country,work in state
0,0,More than 1000,1.0,Yes,Yes,Yes,Somewhat difficult,Physical health,No,1.0,...,"Yes, I observed",2,1,57,Female,Canada,Null,Null,Canada,Null
1,0,More than 1000,1.0,No,I don't know,I don't know,Somewhat difficult,Physical health,No,0.0,...,No,3,1,29,male,United States of America,Massachusetts,White,United States of America,Massachusetts
2,0,6-25,0.0,No,No,I don't know,Somewhat easy,Physical health,No,0.0,...,Maybe/Not sure,3,0,46,Male,United States of America,Florida,White,United States of America,Florida
3,0,6-25,1.0,No,No,I don't know,Neither easy nor difficult,Physical health,No,0.0,...,Maybe/Not sure,1,0,34,male,Norway,Null,Null,Norway,Null
4,0,26-100,1.0,Yes,Yes,Yes,Somewhat easy,Same level of comfort for each,Yes,1.0,...,"Yes, I observed",4,1,29,Ostensibly Male,United States of America,Tennessee,White,United States of America,Tennessee

In [82]:
df_f4.notnull()

,Self_Employed,No_of_Employees,Tech_Company,formally_discusse_employer,seeking help,anonymity,Medical_Leave,talking_to_coworker,supervisor,discussed_with_employer,...,supportive workplace,tech industry support,talk about experience,Age,Gender,Country,State,race,work in country,work in state
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
412,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
413,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
414,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
415,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
416,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

**Save data in the Local file (2018 file)**

In [83]:
#Export the DataFrame file in CSV file 2018

df_f4.to_csv('G:\\DBDA\\DBDA project\\Project data\\Project data\\Complete record of employee mental health from 2014-2022\\OSMI Mental Health in Tech Survey 2018.csv',index=False)

-------------------------------------------------------------------------------------------------------------------------------
### 2.4 import 2017 file

In [13]:
#import 2017 csv file in jupyter through pandas

f4 = pd.read_csv('G:\\DBDA\\DBDA project\\Project data\\Project data\\Complete record of employee mental health from 2014-2022\\OSMI Mental Health in Tech Survey 2017.csv')
f4.head()

,NO,Self_Employed,No_of_Employees,Tech_Company,B,C,D,formally_discusse_employer,seeking help,anonymity,...,Gender,Country,State,race,CA,work in country,work in state,CC,CD,CE
0,e49fe87572831232dcfa51b376b22039,0,100-500,1.0,1.0,No,Yes,No,I don't know,I don't know,...,Female,United Kingdom,NaN,NaN,NaN,United Kingdom,NaN,2018-05-16 12:32:04,2018-05-16 12:42:40,464b7a12f1
1,a1eede444ac024928d247a8372d54931,0,100-500,1.0,1.0,Yes,Yes,No,No,I don't know,...,male,United Kingdom,NaN,NaN,NaN,United Kingdom,NaN,2018-05-16 12:31:13,2018-05-16 12:40:40,464b7a12f1
2,37d3fd67f62bd1e0a2dea4f9cd440d98,0,6-25,1.0,1.0,I don't know,No,I don't know,No,Yes,...,male,United States of America,Missouri,White,NaN,United States of America,Missouri,2018-05-09 05:34:05,2018-05-09 05:46:04,1eb7e0cb94
3,519b759442c1cab0e9b5a8a1acb1b216,0,More than 1000,1.0,1.0,Yes,Yes,I don't know,I don't know,Yes,...,Male,United States of America,Washington,White,NaN,United States of America,Washington,2018-05-04 23:19:14,2018-05-04 23:23:23,63852edbc4
4,ef0af4927b575b1a3e607c11ca37870e,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,female,United States of America,Illinois,More than one of the above,NaN,United States of America,Illinois,2018-05-03 00:40:24,2018-05-03 00:53:20,43237889f1

In [84]:
f4.shape

(756, 123)

In [85]:
list(f4.columns)

['NO',
 'Self_Employed',
 'No_of_Employees',
 'Tech_Company',
 'B',
 'C',
 'D',
 'formally_discusse_employer',
 'seeking help',
 'anonymity',
 'Medical_Leave',
 'talking_to_coworker',
 'supervisor',
 'discussed_with_employer',
 'E',
 'issue_discussing',
 'discusssed_coworkers',
 'F',
 'G',
 'I',
 'physical_health_importance',
 'Mental_health_importance',
 'Medical_Insurence',
 'J',
 'K',
 'L',
 'M',
 'N',
 'impact_on_Productivity',
 'O',
 'P',
 'tech_company',
 'Q',
 'Mental_health_Aware',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z',
 'AA',
 'AB',
 'AC',
 'AD',
 'AE',
 'have_a_mental_Health',
 'treated_Mental_Health(Diagnosed)',
 'AF',
 'AG',
 'AH',
 'AI',
 'AJ',
 'AK',
 'AL',
 'AM',
 'AN',
 'AO',
 'AP',
 'AQ',
 'AR',
 'AS',
 'AT',
 'AU',
 'AV',
 'AW',
 'AX',
 'AY',
 'AZ',
 'BA',
 'BB',
 'BC',
 'BD',
 'BE',
 'BF',
 'BG',
 'BH',
 'BI',
 'BJ',
 'BK',
 'BL',
 'BM',
 'BN',
 'BO',
 'BP',
 'BQ',
 'BR',
 'Past_mental_Health',
 'Treatment',
 'family history',
 'before_Interfere_in_work',
 'after_Interfere_in_work',
 'Stress_Syndromes',
 'share with friends and family',
 'a physical potential',
 'BS',
 'a mental potential',
 'BT',
 'openly_identify',
 'BU',
 'BV',
 'co-workers reaction',
 'unsupportive workplace',
 'BW',
 'supportive workplace',
 'BX',
 'tech industry support',
 'BY',
 'BZ',
 'talk about experience',
 'Age',
 'Gender',
 'Country',
 'State',
 'race',
 'CA',
 'work in country',
 'work in state',
 'CC',
 'CD',
 'CE']

Create Data Frame and Drop the Unwanted columns

In [87]:
df_f5 = pd.DataFrame(f4)


df_f5.drop(['NO','B','C','D','E', 'F','G','I','J','K','L','M','N', 'O',
'P','Q', 'R','S','T','U','V', 'W', 'X','Y', 'Z', 'AA',
 'AB', 'AC', 'AD','AE','AF','AG', 'AH','AI','AJ','AK','AL', 'AM',
 'AN', 'AO', 'AP','AQ','AR','AS','AT','AU','AV','AW','AX',
 'AY', 'AZ', 'BA', 'BB', 'BC', 'BD','BE', 'BF', 'BG', 'BH', 'BI','BJ', 'BK',
 'BL', 'BM', 'BN', 'BO', 'BP', 'BQ','BR','BS', 'BT', 'BU','BV','BW','BX', 'BY', 'BZ', 'CA', 'CC', 'CD', 'CE'],inplace=True,axis=1)

Show Name of Columns after Deleting

In [88]:
list(df_f5.columns)

['Self_Employed',
 'No_of_Employees',
 'Tech_Company',
 'formally_discusse_employer',
 'seeking help',
 'anonymity',
 'Medical_Leave',
 'talking_to_coworker',
 'supervisor',
 'discussed_with_employer',
 'issue_discussing',
 'discusssed_coworkers',
 'physical_health_importance',
 'Mental_health_importance',
 'Medical_Insurence',
 'impact_on_Productivity',
 'tech_company',
 'Mental_health_Aware',
 'have_a_mental_Health',
 'treated_Mental_Health(Diagnosed)',
 'Past_mental_Health',
 'Treatment',
 'family history',
 'before_Interfere_in_work',
 'after_Interfere_in_work',
 'Stress_Syndromes',
 'share with friends and family',
 'a physical potential',
 'a mental potential',
 'openly_identify',
 'co-workers reaction',
 'unsupportive workplace',
 'supportive workplace',
 'tech industry support',
 'talk about experience',
 'Age',
 'Gender',
 'Country',
 'State',
 'race',
 'work in country',
 'work in state']

Show Number of rows and columns

In [89]:
df_f5.shape

(756, 42)

In [90]:
# Show first 5 rows from data
df_f5.head()

,Self_Employed,No_of_Employees,Tech_Company,formally_discusse_employer,seeking help,anonymity,Medical_Leave,talking_to_coworker,supervisor,discussed_with_employer,...,supportive workplace,tech industry support,talk about experience,Age,Gender,Country,State,race,work in country,work in state
0,0,100-500,1.0,No,I don't know,I don't know,I don't know,Same level of comfort for each,Yes,0.0,...,"Yes, I experienced",1.0,0.0,27.0,Female,United Kingdom,NaN,NaN,United Kingdom,NaN
1,0,100-500,1.0,No,No,I don't know,I don't know,Same level of comfort for each,Maybe,0.0,...,Maybe/Not sure,2.0,0.0,31.0,male,United Kingdom,NaN,NaN,United Kingdom,NaN
2,0,6-25,1.0,I don't know,No,Yes,Difficult,Same level of comfort for each,Yes,1.0,...,"Yes, I experienced",1.0,1.0,36.0,male,United States of America,Missouri,White,United States of America,Missouri
3,0,More than 1000,1.0,I don't know,I don't know,Yes,Difficult,Same level of comfort for each,Yes,1.0,...,Maybe/Not sure,2.0,0.0,22.0,Male,United States of America,Washington,White,United States of America,Washington
4,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Yes, I observed",1.0,1.0,52.0,female,United States of America,Illinois,More than one of the above,United States of America,Illinois

In [91]:
df_f5.notnull()

,Self_Employed,No_of_Employees,Tech_Company,formally_discusse_employer,seeking help,anonymity,Medical_Leave,talking_to_coworker,supervisor,discussed_with_employer,...,supportive workplace,tech industry support,talk about experience,Age,Gender,Country,State,race,work in country,work in state
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,True,False
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,True,False
2,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,True,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,True,False
752,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
753,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
754,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
755,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

Fill the Null values

In [92]:
df_f5.fillna("Null",inplace=True)

In [93]:
df_f5.head()

,Self_Employed,No_of_Employees,Tech_Company,formally_discusse_employer,seeking help,anonymity,Medical_Leave,talking_to_coworker,supervisor,discussed_with_employer,...,supportive workplace,tech industry support,talk about experience,Age,Gender,Country,State,race,work in country,work in state
0,0,100-500,1.0,No,I don't know,I don't know,I don't know,Same level of comfort for each,Yes,0.0,...,"Yes, I experienced",1.0,0.0,27.0,Female,United Kingdom,Null,Null,United Kingdom,Null
1,0,100-500,1.0,No,No,I don't know,I don't know,Same level of comfort for each,Maybe,0.0,...,Maybe/Not sure,2.0,0.0,31.0,male,United Kingdom,Null,Null,United Kingdom,Null
2,0,6-25,1.0,I don't know,No,Yes,Difficult,Same level of comfort for each,Yes,1.0,...,"Yes, I experienced",1.0,1.0,36.0,male,United States of America,Missouri,White,United States of America,Missouri
3,0,More than 1000,1.0,I don't know,I don't know,Yes,Difficult,Same level of comfort for each,Yes,1.0,...,Maybe/Not sure,2.0,0.0,22.0,Male,United States of America,Washington,White,United States of America,Washington
4,1,Null,Null,Null,Null,Null,Null,Null,Null,Null,...,"Yes, I observed",1.0,1.0,52.0,female,United States of America,Illinois,More than one of the above,United States of America,Illinois

Check the Null value after Filling

In [94]:
df_f5.notnull()

,Self_Employed,No_of_Employees,Tech_Company,formally_discusse_employer,seeking help,anonymity,Medical_Leave,talking_to_coworker,supervisor,discussed_with_employer,...,supportive workplace,tech industry support,talk about experience,Age,Gender,Country,State,race,work in country,work in state
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
752,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
753,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
754,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
755,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

**Save data in the Local file (2017 file)**

In [95]:
#Export the DataFrame file in CSV file 2017

df_f5.to_csv('G:\\DBDA\\DBDA project\\Project data\\Project data\\Complete record of employee mental health from 2014-2022\\OSMI Mental Health in Tech Survey 2017.csv',index=False)

-------------------------------------------------------------------------------------------------------------------------------
### 2.5 import 2019 file

In [3]:
#import 2019 csv file in jupyter through pandas

f5 = pd.read_csv('G:\\DBDA\\DBDA project\\Project data\\Project data\\Complete record of employee mental health from 2014-2022\\OSMI Mental Health in Tech Survey 2019.csv')

f5.head()

,Self_Employed,No_of_Employees,Tech_Company,A,B,C,formally_discusse_employer,Seek_Help,anonymity,Medical_Leave,...,AP,AQ,talk about experience,Age,Gender,Country,State,race,work in country,work in state
0,False,26-100,True,True,I don't know,No,Yes,Yes,I don't know,Very easy,...,NaN,NaN,False,25,Male,United States of America,Nebraska,White,United States of America,Nebraska
1,False,26-100,True,True,Yes,No,No,Yes,Yes,I don't know,...,NaN,NaN,False,51,male,United States of America,Nebraska,White,United States of America,Nebraska
2,False,26-100,True,True,I don't know,No,No,I don't know,I don't know,Somewhat difficult,...,I think opening up more conversation around th...,Thank you,True,27,Male,United States of America,Illinois,White,United States of America,Illinois
3,False,100-500,True,True,I don't know,No,Yes,Yes,Yes,Very easy,...,NaN,NaN,False,37,male,United States of America,Nebraska,White,United States of America,Nebraska
4,False,26-100,True,True,I don't know,No,I don't know,I don't know,I don't know,I don't know,...,NaN,NaN,False,46,m,United States of America,Nebraska,White,United States of America,Nebraska

In [4]:
f5.shape

(352, 82)

In [5]:
list(f5.columns)

['Self_Employed',
 'No_of_Employees',
 'Tech_Company',
 'A',
 'B',
 'C',
 'formally_discusse_employer',
 'Seek_Help',
 'anonymity',
 'Medical_Leave',
 'talking_to_coworker',
 'supervisor',
 'discussed_with_employer',
 'D',
 'issue_discussing',
 'E',
 'F',
 'G',
 'I',
 'physical_health_importance',
 'Mental_health_importance',
 'Medical_Insurence',
 'J',
 'K',
 'L',
 'M',
 'N',
 'impact_on_Productivity',
 'O',
 'P',
 'tech_company',
 'Q',
 'Mental_health_Aware',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z',
 'AA',
 'AB',
 'AC',
 'AD',
 'AE',
 'have_a_mental_Health',
 'treated_Mental_Health(Diagnosed)',
 'AF',
 'AG',
 'AI',
 'Past_mental_Health',
 'Treatment',
 'family_history',
 'before_Interfere_in_work',
 'after_Interfere_in_work',
 'Stress_Syndromes',
 'share_with_friends and family',
 'a physical potential',
 'AJ',
 'a mental potential',
 'AK',
 'openly_identify',
 'AL',
 'AM',
 'co-workers reaction',
 'unsupportive_workplace',
 'AN',
 'supportive_workplace',
 'AO',
 'tech industry support',
 'AP',
 'AQ',
 'talk about experience',
 'Age',
 'Gender',
 'Country',
 'State',
 'race',
 'work in country',
 'work in state']

In [6]:
df_f6 = pd.DataFrame(f5)


df_f6.drop([
 'A','B',
 'C', 'D',
 'E', 'F',
 'G', 'I',
 'J', 'K',
 'L', 'M',
 'N', 'O',
 'P', 'Q',
 'R', 'S',
 'T', 'U',
 'V', 'W',
 'X', 'Y',
 'Z', 'AA',
 'AB', 'AC',
 'AD', 'AE',
 'AF', 'AG',
 'AI', 'AJ',
 'AK', 'AL',
 'AM', 'AN',
 'AO', 'AP',
 'AQ'],inplace=True,axis=1)

In [7]:
list(df_f6.columns)

['Self_Employed',
 'No_of_Employees',
 'Tech_Company',
 'formally_discusse_employer',
 'Seek_Help',
 'anonymity',
 'Medical_Leave',
 'talking_to_coworker',
 'supervisor',
 'discussed_with_employer',
 'issue_discussing',
 'physical_health_importance',
 'Mental_health_importance',
 'Medical_Insurence',
 'impact_on_Productivity',
 'tech_company',
 'Mental_health_Aware',
 'have_a_mental_Health',
 'treated_Mental_Health(Diagnosed)',
 'Past_mental_Health',
 'Treatment',
 'family_history',
 'before_Interfere_in_work',
 'after_Interfere_in_work',
 'Stress_Syndromes',
 'share_with_friends and family',
 'a physical potential',
 'a mental potential',
 'openly_identify',
 'co-workers reaction',
 'unsupportive_workplace',
 'supportive_workplace',
 'tech industry support',
 'talk about experience',
 'Age',
 'Gender',
 'Country',
 'State',
 'race',
 'work in country',
 'work in state']

In [8]:
df_f6.shape

(352, 41)

In [9]:
df_f6.head()

,Self_Employed,No_of_Employees,Tech_Company,formally_discusse_employer,Seek_Help,anonymity,Medical_Leave,talking_to_coworker,supervisor,discussed_with_employer,...,supportive_workplace,tech industry support,talk about experience,Age,Gender,Country,State,race,work in country,work in state
0,False,26-100,True,Yes,Yes,I don't know,Very easy,Physical health,Yes,False,...,Maybe/Not sure,4,False,25,Male,United States of America,Nebraska,White,United States of America,Nebraska
1,False,26-100,True,No,Yes,Yes,I don't know,Physical health,Maybe,False,...,"Yes, I experienced",1,False,51,male,United States of America,Nebraska,White,United States of America,Nebraska
2,False,26-100,True,No,I don't know,I don't know,Somewhat difficult,Same level of comfort for each,No,False,...,"Yes, I observed",2,True,27,Male,United States of America,Illinois,White,United States of America,Illinois
3,False,100-500,True,Yes,Yes,Yes,Very easy,Physical health,Yes,False,...,"Yes, I observed",3,False,37,male,United States of America,Nebraska,White,United States of America,Nebraska
4,False,26-100,True,I don't know,I don't know,I don't know,I don't know,Physical health,No,False,...,No,3,False,46,m,United States of America,Nebraska,White,United States of America,Nebraska

In [10]:
df_f6.notnull()

,Self_Employed,No_of_Employees,Tech_Company,formally_discusse_employer,Seek_Help,anonymity,Medical_Leave,talking_to_coworker,supervisor,discussed_with_employer,...,supportive_workplace,tech industry support,talk about experience,Age,Gender,Country,State,race,work in country,work in state
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
347,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,True,False
348,True,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
349,True,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,False,False,True,False
350,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,True,False
351,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [11]:
df_f6.fillna("Null",inplace=True)

In [12]:
df_f6.notnull()

,Self_Employed,No_of_Employees,Tech_Company,formally_discusse_employer,Seek_Help,anonymity,Medical_Leave,talking_to_coworker,supervisor,discussed_with_employer,...,supportive_workplace,tech industry support,talk about experience,Age,Gender,Country,State,race,work in country,work in state
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
347,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
348,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
349,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
350,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
351,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [13]:
df_f6.head()

,Self_Employed,No_of_Employees,Tech_Company,formally_discusse_employer,Seek_Help,anonymity,Medical_Leave,talking_to_coworker,supervisor,discussed_with_employer,...,supportive_workplace,tech industry support,talk about experience,Age,Gender,Country,State,race,work in country,work in state
0,False,26-100,True,Yes,Yes,I don't know,Very easy,Physical health,Yes,False,...,Maybe/Not sure,4,False,25,Male,United States of America,Nebraska,White,United States of America,Nebraska
1,False,26-100,True,No,Yes,Yes,I don't know,Physical health,Maybe,False,...,"Yes, I experienced",1,False,51,male,United States of America,Nebraska,White,United States of America,Nebraska
2,False,26-100,True,No,I don't know,I don't know,Somewhat difficult,Same level of comfort for each,No,False,...,"Yes, I observed",2,True,27,Male,United States of America,Illinois,White,United States of America,Illinois
3,False,100-500,True,Yes,Yes,Yes,Very easy,Physical health,Yes,False,...,"Yes, I observed",3,False,37,male,United States of America,Nebraska,White,United States of America,Nebraska
4,False,26-100,True,I don't know,I don't know,I don't know,I don't know,Physical health,No,False,...,No,3,False,46,m,United States of America,Nebraska,White,United States of America,Nebraska

In [14]:
df_f6.tail()

,Self_Employed,No_of_Employees,Tech_Company,formally_discusse_employer,Seek_Help,anonymity,Medical_Leave,talking_to_coworker,supervisor,discussed_with_employer,...,supportive_workplace,tech industry support,talk about experience,Age,Gender,Country,State,race,work in country,work in state
347,False,More than 1000,False,No,I don't know,I don't know,Somewhat difficult,Physical health,No,False,...,Maybe/Not sure,3,False,27,male,India,Null,Null,India,Null
348,True,Null,Null,Null,Null,Null,Null,Null,Null,Null,...,No,3,False,48,m,United States of America,Louisiana,White,United States of America,Louisiana
349,True,Null,Null,Null,Null,Null,Null,Null,Null,Null,...,I've always been self-employed,5,False,50,M,India,Null,Null,India,Null
350,False,More than 1000,True,No,No,Yes,Difficult,Physical health,No,False,...,"Yes, I experienced",2,False,30,female,India,Null,Null,India,Null
351,False,More than 1000,True,No,Yes,Yes,Somewhat difficult,Physical health,Maybe,True,...,No,3,True,24,Female (cis),United States of America,Oregon,White,United States of America,Oregon

**Save data in the Local file (2019 file)**

In [15]:
#Export the DataFrame file in CSV file 2019

df_f6.to_csv('G:\\DBDA\\DBDA project\\Project data\\Project data\\Complete record of employee mental health from 2014-2022\\OSMI Mental Health in Tech Survey 2019.csv',index=False)

-------------------------------------------------------------------------------------------------------------------------------
### 2.6 import 2016 file

In [23]:
#import 2016 csv file in jupyter through pandas

f6 = pd.read_csv('G:\\DBDA\\DBDA project\\Project data\\Project data\\Complete record of employee mental health from 2014-2022\\mental-heath-in-tech-2016_20161114.csv')
f6.head()

,Self_Employed,No_of_Employees,Tech_Company,A,Benefits,C,formally_discusse_employer,seeking help,anonymity,Medical_Leave,...,before_Interfere_in_work,after_Interfere_in_work,Age,Gender,Country,State,work in country,work in state,AS,remote_work
0,0,26-100,1.0,NaN,Not eligible for coverage / N/A,NaN,No,No,I don't know,Very easy,...,Not applicable to me,Not applicable to me,39,Male,United Kingdom,NaN,United Kingdom,NaN,Back-end Developer,Sometimes
1,0,6-25,1.0,NaN,No,Yes,Yes,Yes,Yes,Somewhat easy,...,Rarely,Sometimes,29,male,United States of America,Illinois,United States of America,Illinois,Back-end Developer|Front-end Developer,Never
2,0,6-25,1.0,NaN,No,NaN,No,No,I don't know,Neither easy nor difficult,...,Not applicable to me,Not applicable to me,38,Male,United Kingdom,NaN,United Kingdom,NaN,Back-end Developer,Always
3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Sometimes,Sometimes,43,male,United Kingdom,NaN,United Kingdom,NaN,Supervisor/Team Lead,Sometimes
4,0,6-25,0.0,1.0,Yes,Yes,No,No,No,Neither easy nor difficult,...,Sometimes,Sometimes,43,Female,United States of America,Illinois,United States of America,Illinois,Executive Leadership|Supervisor/Team Lead|Dev ...,Sometimes

In [24]:
f6.shape

(1433, 63)

In [25]:
list(f6.columns)

['Self_Employed',
 'No_of_Employees',
 'Tech_Company',
 'A',
 'Benefits',
 'C',
 'formally_discusse_employer',
 'seeking help',
 'anonymity',
 'Medical_Leave',
 'mental_health_consequence',
 'phys_health_consequence',
 'discussed_with_employer',
 'supervisor',
 'issue_discussing',
 'obs_consequence',
 'Medical_Insurence',
 'J',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'seek_help',
 'V',
 'W',
 'X',
 'Y',
 'Z',
 'AA',
 'AB',
 'a physical potential',
 'AF',
 'a mental potential',
 'Why or why not?.1',
 'AG',
 'AH',
 'share with friends and family',
 'unsupportive_workplace',
 'AJ',
 'Family_Histroy',
 'Past_mental_Health',
 'have_a_mental_Health',
 'AN',
 'AO',
 'treated_Mental_Health(Diagnosed)',
 'AP',
 'Treatment',
 'before_Interfere_in_work',
 'after_Interfere_in_work',
 'Age',
 'Gender',
 'Country',
 'State',
 'work in country',
 'work in state',
 'AS',
 'remote_work']

Create the Data Frame and DROP the unwanted columns

In [26]:
df_f7 = pd.DataFrame(f6)

df_f7.drop([
 'A', 'C',
 'J', 'L',
 'M', 'N',
 'O', 'P',
 'Q', 'R',
 'S', 'T',
 'U', 'V',
 'W', 'X',
 'Y', 'Z',
 'AA', 'AB',
 'AF', 'AG',
 'AH', 'AJ',
 'AN', 'AO',
 'AP'],inplace=True,axis=1)

In [27]:
list(df_f7.columns)

['Self_Employed',
 'No_of_Employees',
 'Tech_Company',
 'Benefits',
 'formally_discusse_employer',
 'seeking help',
 'anonymity',
 'Medical_Leave',
 'mental_health_consequence',
 'phys_health_consequence',
 'discussed_with_employer',
 'supervisor',
 'issue_discussing',
 'obs_consequence',
 'Medical_Insurence',
 'seek_help',
 'a physical potential',
 'a mental potential',
 'Why or why not?.1',
 'share with friends and family',
 'unsupportive_workplace',
 'Family_Histroy',
 'Past_mental_Health',
 'have_a_mental_Health',
 'treated_Mental_Health(Diagnosed)',
 'Treatment',
 'before_Interfere_in_work',
 'after_Interfere_in_work',
 'Age',
 'Gender',
 'Country',
 'State',
 'work in country',
 'work in state',
 'AS',
 'remote_work']

In [28]:
df_f7.shape

(1433, 36)

In [29]:
df_f7.head()

,Self_Employed,No_of_Employees,Tech_Company,Benefits,formally_discusse_employer,seeking help,anonymity,Medical_Leave,mental_health_consequence,phys_health_consequence,...,before_Interfere_in_work,after_Interfere_in_work,Age,Gender,Country,State,work in country,work in state,AS,remote_work
0,0,26-100,1.0,Not eligible for coverage / N/A,No,No,I don't know,Very easy,No,No,...,Not applicable to me,Not applicable to me,39,Male,United Kingdom,NaN,United Kingdom,NaN,Back-end Developer,Sometimes
1,0,6-25,1.0,No,Yes,Yes,Yes,Somewhat easy,No,No,...,Rarely,Sometimes,29,male,United States of America,Illinois,United States of America,Illinois,Back-end Developer|Front-end Developer,Never
2,0,6-25,1.0,No,No,No,I don't know,Neither easy nor difficult,Maybe,No,...,Not applicable to me,Not applicable to me,38,Male,United Kingdom,NaN,United Kingdom,NaN,Back-end Developer,Always
3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Sometimes,Sometimes,43,male,United Kingdom,NaN,United Kingdom,NaN,Supervisor/Team Lead,Sometimes
4,0,6-25,0.0,Yes,No,No,No,Neither easy nor difficult,Yes,Maybe,...,Sometimes,Sometimes,43,Female,United States of America,Illinois,United States of America,Illinois,Executive Leadership|Supervisor/Team Lead|Dev ...,Sometimes

In [31]:
df_f7.notnull()

,Self_Employed,No_of_Employees,Tech_Company,Benefits,formally_discusse_employer,seeking help,anonymity,Medical_Leave,mental_health_consequence,phys_health_consequence,...,before_Interfere_in_work,after_Interfere_in_work,Age,Gender,Country,State,work in country,work in state,AS,remote_work
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,False,True,False,True,True
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,False,True,False,True,True
3,True,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,False,True,False,True,True
4,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1428,True,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
1429,True,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,False,True,True
1430,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1431,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1432,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,False,True,False,True,True

In [32]:
df_f7.fillna("Null",inplace=True)

In [33]:
df_f7.notnull()

,Self_Employed,No_of_Employees,Tech_Company,Benefits,formally_discusse_employer,seeking help,anonymity,Medical_Leave,mental_health_consequence,phys_health_consequence,...,before_Interfere_in_work,after_Interfere_in_work,Age,Gender,Country,State,work in country,work in state,AS,remote_work
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1428,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1429,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1430,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1431,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1432,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [34]:
df_f7.head()

,Self_Employed,No_of_Employees,Tech_Company,Benefits,formally_discusse_employer,seeking help,anonymity,Medical_Leave,mental_health_consequence,phys_health_consequence,...,before_Interfere_in_work,after_Interfere_in_work,Age,Gender,Country,State,work in country,work in state,AS,remote_work
0,0,26-100,1.0,Not eligible for coverage / N/A,No,No,I don't know,Very easy,No,No,...,Not applicable to me,Not applicable to me,39,Male,United Kingdom,Null,United Kingdom,Null,Back-end Developer,Sometimes
1,0,6-25,1.0,No,Yes,Yes,Yes,Somewhat easy,No,No,...,Rarely,Sometimes,29,male,United States of America,Illinois,United States of America,Illinois,Back-end Developer|Front-end Developer,Never
2,0,6-25,1.0,No,No,No,I don't know,Neither easy nor difficult,Maybe,No,...,Not applicable to me,Not applicable to me,38,Male,United Kingdom,Null,United Kingdom,Null,Back-end Developer,Always
3,1,Null,Null,Null,Null,Null,Null,Null,Null,Null,...,Sometimes,Sometimes,43,male,United Kingdom,Null,United Kingdom,Null,Supervisor/Team Lead,Sometimes
4,0,6-25,0.0,Yes,No,No,No,Neither easy nor difficult,Yes,Maybe,...,Sometimes,Sometimes,43,Female,United States of America,Illinois,United States of America,Illinois,Executive Leadership|Supervisor/Team Lead|Dev ...,Sometimes

**Save data in the Local file (2016 file)**

In [35]:
#Export the DataFrame file in CSV file 2016

df_f7.to_csv('G:\\DBDA\\DBDA project\\Project data\\Project data\\Complete record of employee mental health from 2014-2022\\mental-heath-in-tech-2016_20161114.csv',index=False)

-------------------------------------------------------------------------------------------------------------------------------
### 2.7 import 2014 file

In [16]:
#import 2014 csv file in jupyter through pandas

f7 = pd.read_csv('G:\\DBDA\\DBDA project\\Project data\\Project data\\Complete record of employee mental health from 2014-2022\\survey 2014.csv')

f7.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [22]:
f7.shape

(1259, 27)

Create the Data Frame and check the null value

In [17]:
df_f8 = pd.DataFrame(f7)

df_f8.notnull()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,True,True,True,True,True,False,True,True,True,True,...,True,True,True,True,True,True,True,True,True,False
1,True,True,True,True,True,False,True,True,True,True,...,True,True,True,True,True,True,True,True,True,False
2,True,True,True,True,False,False,True,True,True,True,...,True,True,True,True,True,True,True,True,True,False
3,True,True,True,True,False,False,True,True,True,True,...,True,True,True,True,True,True,True,True,True,False
4,True,True,True,True,True,False,True,True,True,True,...,True,True,True,True,True,True,True,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,True,True,True,True,False,True,True,True,False,True,...,True,True,True,True,True,True,True,True,True,False
1255,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,False
1256,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,False
1257,True,True,True,True,True,True,True,True,False,True,...,True,True,True,True,True,True,True,True,True,False
1258,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,False

Fill Null value

In [18]:
df_f8.fillna("Null",inplace=True)

In [19]:
df_f8.notnull()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1255,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1256,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1257,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1258,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [20]:
df_f8.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,Null,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,Null
1,2014-08-27 11:29:37,44,M,United States,IN,Null,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,Null
2,2014-08-27 11:29:44,32,Male,Canada,Null,Null,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,Null
3,2014-08-27 11:29:46,31,Male,United Kingdom,Null,Null,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,Null
4,2014-08-27 11:30:22,31,Male,United States,TX,Null,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,Null

**Save data in the Local file (2014 file)**

In [21]:
#Export the DataFrame file in CSV file 2014

df_f8.to_csv('G:\\DBDA\\DBDA project\\Project data\\Project data\\Complete record of employee mental health from 2014-2022\\Mental Health in Tech Survey 2014.csv',index=False)