# Data Preprocessing
## 3. Merging the Files
Import the Library

In [1]:
import pandas as pd

### 3.1 Import file for Merging (2017 file)

In [2]:
#import 2017 csv file in jupyter through pandas

M1 = pd.read_csv('G:\\DBDA\\DBDA project\\Project data\\Project data\\Complete record of employee mental health from 2014-2022\\OSMI Mental Health in Tech Survey 2017.csv')
M1.head()

,Self_Employed,No_of_Employees,Tech_Company,formally_discusse_employer,seeking help,anonymity,Medical_Leave,talking_to_coworker,supervisor,discussed_with_employer,...,supportive workplace,tech industry support,talk about experience,Age,Gender,Country,State,race,work in country,work in state
0,0,100-500,1.0,No,I don't know,I don't know,I don't know,Same level of comfort for each,Yes,0.0,...,"Yes, I experienced",1.0,0.0,27.0,Female,United Kingdom,Null,Null,United Kingdom,Null
1,0,100-500,1.0,No,No,I don't know,I don't know,Same level of comfort for each,Maybe,0.0,...,Maybe/Not sure,2.0,0.0,31.0,male,United Kingdom,Null,Null,United Kingdom,Null
2,0,6-25,1.0,I don't know,No,Yes,Difficult,Same level of comfort for each,Yes,1.0,...,"Yes, I experienced",1.0,1.0,36.0,male,United States of America,Missouri,White,United States of America,Missouri
3,0,More than 1000,1.0,I don't know,I don't know,Yes,Difficult,Same level of comfort for each,Yes,1.0,...,Maybe/Not sure,2.0,0.0,22.0,Male,United States of America,Washington,White,United States of America,Washington
4,1,Null,Null,Null,Null,Null,Null,Null,Null,Null,...,"Yes, I observed",1.0,1.0,52.0,female,United States of America,Illinois,More than one of the above,United States of America,Illinois

###  3.2 Import file for Merging (2018 file)

In [3]:
#import 2018 csv file in jupyter through pandas

M2 = pd.read_csv('G:\\DBDA\\DBDA project\\Project data\\Project data\\Complete record of employee mental health from 2014-2022\\OSMI Mental Health in Tech Survey 2018.csv')
M2.head()

,Self_Employed,No_of_Employees,Tech_Company,formally_discusse_employer,seeking help,anonymity,Medical_Leave,talking_to_coworker,supervisor,discussed_with_employer,...,supportive workplace,tech industry support,talk about experience,Age,Gender,Country,State,race,work in country,work in state
0,0,More than 1000,1.0,Yes,Yes,Yes,Somewhat difficult,Physical health,No,1.0,...,"Yes, I observed",2,1,57,Female,Canada,Null,Null,Canada,Null
1,0,More than 1000,1.0,No,I don't know,I don't know,Somewhat difficult,Physical health,No,0.0,...,No,3,1,29,male,United States of America,Massachusetts,White,United States of America,Massachusetts
2,0,6-25,0.0,No,No,I don't know,Somewhat easy,Physical health,No,0.0,...,Maybe/Not sure,3,0,46,Male,United States of America,Florida,White,United States of America,Florida
3,0,6-25,1.0,No,No,I don't know,Neither easy nor difficult,Physical health,No,0.0,...,Maybe/Not sure,1,0,34,male,Norway,Null,Null,Norway,Null
4,0,26-100,1.0,Yes,Yes,Yes,Somewhat easy,Same level of comfort for each,Yes,1.0,...,"Yes, I observed",4,1,29,Ostensibly Male,United States of America,Tennessee,White,United States of America,Tennessee

### 3.3 Import file for Merging (2020 file)

In [4]:
#import 2020 csv file in jupyter through pandas

M3 = pd.read_csv('G:\\DBDA\\DBDA project\\Project data\\Project data\\Complete record of employee mental health from 2014-2022\\OSMI Mental Health in Tech Survey 2020.csv')
M3.head()

,Self_Employed,No_of_Employees,Tech_Company,formally_discusse_employer,seeking help,anonymity,Medical_Leave,talking_to_coworker,supervisor,discussed_with_employer,...,supportive workplace,tech industry support,talk about experience,Age,Gender,Country,State,race,work in country,work in state
0,1,Null,Null,Null,Null,Null,Null,Null,Null,Null,...,"Yes, I experienced",2,0,45,Male,United States of America,Connecticut,White,United States of America,Connecticut
1,1,Null,Null,Null,Null,Null,Null,Null,Null,Null,...,"Yes, I observed",5,1,24,female,Russia,Null,Null,Russia,Null
2,1,Null,Null,Null,Null,Null,Null,Null,Null,Null,...,"Yes, I experienced",1,1,46,Male,India,Null,Null,India,Null
3,1,Null,Null,Null,Null,Null,Null,Null,Null,Null,...,Maybe/Not sure,1,1,25,Female,Canada,Null,Null,Canada,Null
4,1,Null,Null,Null,Null,Null,Null,Null,Null,Null,...,Maybe/Not sure,3,1,25,F,Canada,Null,Null,Canada,Null

### 3.4 Import file for Merging (2021 file)

In [5]:
#import 2021 csv file in jupyter through pandas

M4 = pd.read_csv('G:\\DBDA\\DBDA project\\Project data\\Project data\\Complete record of employee mental health from 2014-2022\\OSMI Mental Health in Tech Survey 2021.csv')
M4.head()

,Self_Employed,No_of_Employees,Tech_Company,formally_discusse_employer,seeking help,anonymity,Medical_Leave,talking_to_coworker,supervisor,discussed_with_employer,...,supportive workplace,tech industry support,talk about experience,Age,Gender,Country,State,race,work in country,work in state
0,0,26-100,1.0,No,I don't know,I don't know,Very easy,Physical health,Maybe,0.0,...,No,2,1,28,Female,United States of America,Alaska,White,United States of America,Alaska
1,0,500-1000,1.0,Yes,Yes,Yes,I don't know,Physical health,No,0.0,...,"Yes, I observed",3,1,41,male,Brazil,Null,Null,Brazil,Null
2,0,100-500,1.0,No,I don't know,I don't know,Somewhat easy,Same level of comfort for each,Maybe,0.0,...,Maybe/Not sure,3,0,35,Male,Brazil,Null,Null,Brazil,Null
3,1,Null,Null,Null,Null,Null,Null,Null,Null,Null,...,"Yes, I observed",2,0,20,male,Italy,Null,Null,Italy,Null
4,0,More than 1000,0.0,Yes,Yes,I don't know,Difficult,Physical health,No,0.0,...,Maybe/Not sure,3,1,35,female,Canada,Null,Null,Canada,Null

### 3.5 Import file for Merging (2014 file)

In [6]:
#import 2014 csv file in jupyter through pandas

M5 = pd.read_csv('G:\\DBDA\\DBDA project\\Project data\\Project data\\Complete record of employee mental health from 2014-2022\\Mental Health in Tech Survey 2014.csv')
M5.head()

,Age,Gender,Country,State,Self_Employed,family history,Treatment,after_Interfere_in_work,No_of_Employees,remote_work,...,seeking help,anonymity,Medical_Leave,mental_health_consequence,phys_health_consequence,talking_to_coworker,supervisor,a mental potential,a physical potential,mental_vs_physical
0,37,Female,United States,IL,Null,No,Yes,Often,6-25,No,...,Yes,Yes,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes
1,44,M,United States,IN,Null,No,No,Rarely,More than 1000,No,...,Don't know,Don't know,Don't know,Maybe,No,No,No,No,No,Don't know
2,32,Male,Canada,Null,Null,No,No,Rarely,6-25,No,...,No,Don't know,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No
3,31,Male,United Kingdom,Null,Null,Yes,Yes,Often,26-100,No,...,No,No,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No
4,31,Male,United States,TX,Null,No,No,Never,100-500,Yes,...,Don't know,Don't know,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know

### 3.6 Import file for Merging (2016 file)

In [7]:
#import 2016 csv file in jupyter through pandas

M6 = pd.read_csv('G:\\DBDA\\DBDA project\\Project data\\Project data\\Complete record of employee mental health from 2014-2022\\mental-heath-in-tech-2016_20161114.csv')
M6.head()

,Self_Employed,No_of_Employees,Tech_Company,Benefits,formally_discusse_employer,seeking help,anonymity,Medical_Leave,mental_health_consequence,phys_health_consequence,...,Treatment,before_Interfere_in_work,after_Interfere_in_work,Age,Gender,Country,State,work in country,work in state,remote_work
0,0,26-100,1.0,Not eligible for coverage / N/A,No,No,I don't know,Very easy,No,No,...,0,Not applicable to me,Not applicable to me,39,Male,United Kingdom,Null,United Kingdom,Null,Sometimes
1,0,6-25,1.0,No,Yes,Yes,Yes,Somewhat easy,No,No,...,1,Rarely,Sometimes,29,male,United States of America,Illinois,United States of America,Illinois,Never
2,0,6-25,1.0,No,No,No,I don't know,Neither easy nor difficult,Maybe,No,...,1,Not applicable to me,Not applicable to me,38,Male,United Kingdom,Null,United Kingdom,Null,Always
3,1,Null,Null,Null,Null,Null,Null,Null,Null,Null,...,1,Sometimes,Sometimes,43,male,United Kingdom,Null,United Kingdom,Null,Sometimes
4,0,6-25,0.0,Yes,No,No,No,Neither easy nor difficult,Yes,Maybe,...,1,Sometimes,Sometimes,43,Female,United States of America,Illinois,United States of America,Illinois,Sometimes

### 3.7 Import file for Merging (2019 file)

In [8]:
#import 2019 csv file in jupyter through pandas

M7 = pd.read_csv('G:\\DBDA\\DBDA project\\Project data\\Project data\\Complete record of employee mental health from 2014-2022\\OSMI Mental Health in Tech Survey 2019.csv')

M7.head()

,Self_Employed,No_of_Employees,Tech_Company,formally_discusse_employer,seeking help,anonymity,Medical_Leave,talking_to_coworker,supervisor,discussed_with_employer,...,supportive workplace,tech industry support,talk about experience,Age,Gender,Country,State,race,work in country,work in state
0,False,26-100,True,Yes,Yes,I don't know,Very easy,Physical health,Yes,False,...,Maybe/Not sure,4,False,25,Male,United States of America,Nebraska,White,United States of America,Nebraska
1,False,26-100,True,No,Yes,Yes,I don't know,Physical health,Maybe,False,...,"Yes, I experienced",1,False,51,male,United States of America,Nebraska,White,United States of America,Nebraska
2,False,26-100,True,No,I don't know,I don't know,Somewhat difficult,Same level of comfort for each,No,False,...,"Yes, I observed",2,True,27,Male,United States of America,Illinois,White,United States of America,Illinois
3,False,100-500,True,Yes,Yes,Yes,Very easy,Physical health,Yes,False,...,"Yes, I observed",3,False,37,male,United States of America,Nebraska,White,United States of America,Nebraska
4,False,26-100,True,I don't know,I don't know,I don't know,I don't know,Physical health,No,False,...,No,3,False,46,m,United States of America,Nebraska,White,United States of America,Nebraska

### 3.8 Merge all Files

In [9]:
#Merge all file(2014,2016,2017,2018,2019,2020,2021)

Merge = pd.concat(
    map(pd.read_csv, ['G:\\DBDA\\DBDA project\\Project data\\Project data\\Complete record of employee mental health from 2014-2022\\Mental Health in Tech Survey 2014.csv','G:\\DBDA\\DBDA project\\Project data\\Project data\\Complete record of employee mental health from 2014-2022\\mental-heath-in-tech-2016_20161114.csv',
                     'G:\\DBDA\\DBDA project\\Project data\\Project data\\Complete record of employee mental health from 2014-2022\\OSMI Mental Health in Tech Survey 2017.csv','G:\\DBDA\\DBDA project\\Project data\\Project data\\Complete record of employee mental health from 2014-2022\\OSMI Mental Health in Tech Survey 2018.csv',
                     'G:\\DBDA\\DBDA project\\Project data\\Project data\\Complete record of employee mental health from 2014-2022\\OSMI Mental Health in Tech Survey 2019.csv','G:\\DBDA\\DBDA project\\Project data\\Project data\\Complete record of employee mental health from 2014-2022\\OSMI Mental Health in Tech Survey 2020.csv',
                     'G:\\DBDA\\DBDA project\\Project data\\Project data\\Complete record of employee mental health from 2014-2022\\OSMI Mental Health in Tech Survey 2021.csv']), ignore_index=True)

**Show Merge File data**

In [10]:
print(Merge)

     Age  Gender         Country State Self_Employed family history Treatment  \
0     37  Female   United States    IL          Null             No       Yes
1     44       M   United States    IN          Null             No        No
2     32    Male          Canada  Null          Null             No        No
3     31    Male  United Kingdom  Null          Null            Yes       Yes
4     31    Male   United States    TX          Null             No        No
...   ..     ...             ...   ...           ...            ...       ...
4523  33    Male         Germany  Null             0   I don't know         1
4524  49    Male        Portugal  Null             0            Yes         0
4525  28    Null        Pakistan  Null             1             No         0
4526  26    Male           India  Null             1             No         0
4527  38    male        Slovenia  Null             0             No         1

     after_Interfere_in_work No_of_Employees remote_work  ...  \
0                      Often            6-25          No  ...
1                     Rarely  More than 1000          No  ...
2                     Rarely            6-25          No  ...
3                      Often          26-100          No  ...
4                      Never         100-500         Yes  ...
...                      ...             ...         ...  ...
4523                   Often          26-100         NaN  ...
4524    Not applicable to me         100-500         NaN  ...
4525    Not applicable to me            Null         NaN  ...
4526               Sometimes            Null         NaN  ...
4527               Sometimes          26-100         NaN  ...

     impact_on_Productivity tech_company            Mental_health_Aware  \
0                       NaN          NaN                            NaN
1                       NaN          NaN                            NaN
2                       NaN          NaN                            NaN
3                       NaN          NaN                            NaN
4                       NaN          NaN                            NaN
...                     ...          ...                            ...
4523                   Null          1.0             N/A (none offered)
4524                   Null          1.0             N/A (none offered)
4525                    Yes         Null                           Null
4526                    Yes         Null                           Null
4527                   Null          1.0  No, I only became aware later

     Stress_Syndromes openly_identify co-workers reaction  \
0                 NaN             NaN                 NaN
1                 NaN             NaN                 NaN
2                 NaN             NaN                 NaN
3                 NaN             NaN                 NaN
4                 NaN             NaN                 NaN
...               ...             ...                 ...
4523             Null               0                   6
4524               No               0                   3
4525             Null               0                   1
4526              Yes               0                   3
4527            Maybe               0                   8

                supportive workplace tech industry support  \
0                                NaN                   NaN
1                                NaN                   NaN
2                                NaN                   NaN
3                                NaN                   NaN
4                                NaN                   NaN
...                              ...                   ...
4523                 Yes, I observed                     2
4524                              No                     3
4525  I've always been self-employed                     4
4526                  Maybe/Not sure                     4
4527                  Maybe/Not sure                     3

     talk about experience  race
0                      NaN   NaN
1                      NaN   NaN
2                      NaN   NaN
3                      NaN   NaN
4                      NaN   NaN
...                    ...   ...
4523                     1  Null
4524                     0  Null
4525                     1  Null
4526                     1  Null
4527                     0  Null

[4528 rows x 51 columns]

**Show Merge file cloumns Name**

In [11]:
list(Merge.columns)

['Age',
 'Gender',
 'Country',
 'State',
 'Self_Employed',
 'family history',
 'Treatment',
 'after_Interfere_in_work',
 'No_of_Employees',
 'remote_work',
 'Tech_Company',
 'benefits',
 'Medical_Insurence',
 'wellness_program',
 'seeking help',
 'anonymity',
 'Medical_Leave',
 'mental_health_consequence',
 'phys_health_consequence',
 'talking_to_coworker',
 'supervisor',
 'a mental potential',
 'a physical potential',
 'mental_vs_physical',
 'Benefits',
 'formally_discusse_employer',
 'discussed_with_employer',
 'issue_discussing',
 'obs_consequence',
 'seek_help',
 'share with friends and family',
 'unsupportive workplace',
 'Past_mental_Health',
 'have_a_mental_Health',
 'treated_Mental_Health(Diagnosed)',
 'before_Interfere_in_work',
 'work in country',
 'work in state',
 'discusssed_coworkers',
 'physical_health_importance',
 'Mental_health_importance',
 'impact_on_Productivity',
 'tech_company',
 'Mental_health_Aware',
 'Stress_Syndromes',
 'openly_identify',
 'co-workers reaction',
 'supportive workplace',
 'tech industry support',
 'talk about experience',
 'race']

**Show Number of rows and columns**

In [12]:
Merge.shape

(4528, 51)

Check the Null values

In [13]:
Merge.notnull()

,Age,Gender,Country,State,Self_Employed,family history,Treatment,after_Interfere_in_work,No_of_Employees,remote_work,...,impact_on_Productivity,tech_company,Mental_health_Aware,Stress_Syndromes,openly_identify,co-workers reaction,supportive workplace,tech industry support,talk about experience,race
0,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
1,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
2,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
3,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
4,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4523,True,True,True,True,True,True,True,True,True,False,...,True,True,True,True,True,True,True,True,True,True
4524,True,True,True,True,True,True,True,True,True,False,...,True,True,True,True,True,True,True,True,True,True
4525,True,True,True,True,True,True,True,True,True,False,...,True,True,True,True,True,True,True,True,True,True
4526,True,True,True,True,True,True,True,True,True,False,...,True,True,True,True,True,True,True,True,True,True
4527,True,True,True,True,True,True,True,True,True,False,...,True,True,True,True,True,True,True,True,True,True

Show first 5 row from the data

In [14]:
Merge.head()

,Age,Gender,Country,State,Self_Employed,family history,Treatment,after_Interfere_in_work,No_of_Employees,remote_work,...,impact_on_Productivity,tech_company,Mental_health_Aware,Stress_Syndromes,openly_identify,co-workers reaction,supportive workplace,tech industry support,talk about experience,race
0,37,Female,United States,IL,Null,No,Yes,Often,6-25,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,44,M,United States,IN,Null,No,No,Rarely,More than 1000,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,32,Male,Canada,Null,Null,No,No,Rarely,6-25,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,31,Male,United Kingdom,Null,Null,Yes,Yes,Often,26-100,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,31,Male,United States,TX,Null,No,No,Never,100-500,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Fill Null Values

In [15]:
Merge.fillna("Null",inplace=True)

Check Null values after Filling

In [16]:
Merge.notnull()

,Age,Gender,Country,State,Self_Employed,family history,Treatment,after_Interfere_in_work,No_of_Employees,remote_work,...,impact_on_Productivity,tech_company,Mental_health_Aware,Stress_Syndromes,openly_identify,co-workers reaction,supportive workplace,tech industry support,talk about experience,race
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4523,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4524,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4525,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4526,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4527,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [17]:
Merge.head()

,Age,Gender,Country,State,Self_Employed,family history,Treatment,after_Interfere_in_work,No_of_Employees,remote_work,...,impact_on_Productivity,tech_company,Mental_health_Aware,Stress_Syndromes,openly_identify,co-workers reaction,supportive workplace,tech industry support,talk about experience,race
0,37,Female,United States,IL,Null,No,Yes,Often,6-25,No,...,Null,Null,Null,Null,Null,Null,Null,Null,Null,Null
1,44,M,United States,IN,Null,No,No,Rarely,More than 1000,No,...,Null,Null,Null,Null,Null,Null,Null,Null,Null,Null
2,32,Male,Canada,Null,Null,No,No,Rarely,6-25,No,...,Null,Null,Null,Null,Null,Null,Null,Null,Null,Null
3,31,Male,United Kingdom,Null,Null,Yes,Yes,Often,26-100,No,...,Null,Null,Null,Null,Null,Null,Null,Null,Null,Null
4,31,Male,United States,TX,Null,No,No,Never,100-500,Yes,...,Null,Null,Null,Null,Null,Null,Null,Null,Null,Null

### 3.9 Final Merge Fill Save in Local data

In [ ]:
#Export the Merge file in Local CSV file  

Merge.to_csv('G:\\DBDA\\DBDA project\\Project data\\Merge all files 2.csv',index=False)